{%extends 'base.html'%}

{% block head %}

<title>iPhone 12 pro</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}

<h2><br>Configure your iPhone 12 pro max<br><br></h2>
<div class = "configandcheckout">
    <div class="configs">
        <form method="POST" class="configcolor">
            <h2>Pick a color:</h2><br>
            <input type="radio" id="configbuttons" name="12promaxcolor" value="silver">
            <label for="silver">Silver</label><br><br>
            <input type="radio" id="configbuttons" name="12promaxcolor" value="pacificblue">
            <label for="white">Pacific blue</label><br><br>
            <input type="radio" id="configbuttons" name="12promaxcolor" value="graphite">
            <label for="graphite">Graphite</label><br><br>
            <input type="radio" id="configbuttons" name="12promaxcolor" value="gold">
            <label for="gold">Gold</label><br><br>
            <br>
            <br>
            <h2>Choose your storage:</h2><br>
            <input type="radio" id="configbuttons" name="12promaxstorage" value="64gb">
            <label for="64gb">64GB</label><br><br>
            <input type="radio" id="configbuttons" name="12promaxstorage" value="128gb">
            <label for="128gb">128GB</label><br><br>
            <input type="radio" id="configbuttons" name="12promaxstorage" value="256gb">
            <label for="256gb">256GB</label><br><br>
            <input type="radio" id="configbuttons" name="12promaxstorage" value="512gb">
            <label for="512gb">512GB<br><br></label>
            <div class="submitencompass">
                <div class="submitbutton"><br><br>
                    <input type="submit"></input>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="row112pro">
    <br>
    <div class="item1">
        <a href="#"><img src="static/images/{{ 'iphone12problack.png'}}" width="243.5px" width="180.5px"></a>
        <div class="row1description">
            <br>
            Graphite<br><br>
            <br>
            <br>
        </div>
    </div>
    <div class="item1">
        <a href="#"><img src="static/images/{{ 'iphone12propacificblue.png'}}" width="243.5px" width="180.5px"></a>
        <div class="row1description">
            <br>
            Pacific Blue<br><br>
            <br>
            <br>
        </div>
    </div>
    <div class="item1">
        <a href="#"><img src="static/images/{{ 'iphone12prosilver.png'}}" width="243.5px" width="180.5px"></a>
        <div class="row1description">
            <br>
            Silver<br><br>
            <br>
            <br>
        </div>
    </div>
    <div class="item1">
        <a href="#"><img src="static/images/{{ 'iphone12progold.png'}}" width="243.5px" width="180.5px" ></a>
        <div class="row1description">
            <br>
            Gold<br><br>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}