{%extends 'base.html'%}

{% block head %}

<title>16 inch Macbook pro</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}

<h2><br>Configure your 16" MacBook pro<br><br></h2>
<div class = "configandcheckout">
    <div class="configs">
        <form method="POST" class="configcolor"> 
            <h2>Pick your desired processor:</h2><br>
            <input type="radio" id="configbuttons" name="16inchprocessor" value="9th-gen Intel Core i7-9750H(6 Cores)">
            <label for="9th-gen Intel Core i7-9750H(6 Cores)">2.6GHz 6-core 9th-generation Intel® Core™ i7-9750H</label><br><br>
            <input type="radio" id="configbuttons" name="16inchprocessor" value="9th-gen Core i9-9880H(8 Cores)">
            <label for="9th-gen Core i9-9880H(8 Cores)">2.3GHz 8-core 9th-generation Intel® Core™ i9-9880H</label><br><br>
            <h2>Choose your RAM:</h2><br>
            <input type="radio" id="configbuttons" name="16inchram" value="16gb">
            <label for="16gb">16GB<br><br></label>
            <input type="radio" id="configbuttons" name="16inchram" value="32gb">
            <label for="32gb">32GB</label><br><br>
            <input type="radio" id="configbuttons" name="16inchram" value="64gb">
            <label for="64gb">64GB<br><br></label>
            <h2>Choose your Graphics Card:</h2><br>
            <input type="radio" id="configbuttons" name="16inchgpu" value="Intel UHD Graphics 630">
            <label for="Intel UHD Graphics 630">Intel UHD Graphics 630<br><br></label>
            <input type="radio" id="configbuttons" name="16inchgpu" value="AMD Radeon Pro 5300M">
            <label for="AMD Radeon Pro 5300M">AMD Radeon Pro 5300M with 4GB of GDDR6 memory</label><br><br>
            <input type="radio" id="configbuttons" name="16inchgpu" value="AMD Radeon Pro 5500M">
            <label for="AMD Radeon Pro 5500M">AMD Radeon Pro 5500M with 8GB of GDDR6 memory<br><br></label>
            <input type="radio" id="configbuttons" name="16inchgpu" value="AMD Radeon Pro 5600M">
            <label for="AMD Radeon Pro 5600M">AMD Radeon Pro 5600M with 8GB of HBM2 memory<br><br></label>
            <h2>Choose your storage:</h2><br>
            <input type="radio" id="configbuttons" name="16inchstorage" value="256gb">
            <label for="256gb">256GB</label><br><br>
            <input type="radio" id="configbuttons" name="16inchstorage" value="512gb">
            <label for="512gb">512GB<br><br></label>
            <input type="radio" id="configbuttons" name="16inchstorage" value="1Tb">
            <label for="1Tb">1TB</label><br><br>
            <input type="radio" id="configbuttons" name="16inchstorage" value="2Tb">
            <label for="2Tb">2TB</label><br><br>
            <h2>Pick a color:</h2><br>
            <input type="radio" id="configbuttons" name="16inchcolor" value="space gray">
            <label for="space gray">Space gray</label><br><br>
            <input type="radio" id="configbuttons" name="16inchcolor" value="silver">
            <label for="silver">Silver</label><br><br>
            <div class="submitencompass">
                <div class="submitbutton"><br><br>
                    <input type="submit"></input>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="row1" style="margin-left: 200px;">
    <br>
    <div class="item1" style="margin-left: 100px;">
        <img src="static/images/{{ 'silver.png'}}" height="242.969px" width="398.966px">
        <div class="row1description">
            <br>
            Space gray<br><br>
            <br>
            <br>
        </div>
    </div>
    <div class="item1">
        <img src="static/images/{{ '16silverfront.png'}}" height="242.969px" width="428.966px">
        <div class="row1description">
            <br>
            Silver<br><br>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}