{%extends 'base.html'%}

{% block head %}

<title>Checkout</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
    <h2 class="checkout">Checkout:</h2><br>
    <div class="itemdetails">
        {{ item.laptopname }}<br>
        {{ item.ram }} RAM<br>
        {{ item.processor }} processor<br>
        {{ item.storage }} SSD<br>
        {{ item.gpu }}<br>
        {{ item.laptopcolor }}<br>
        {{ item.screensize }} display<br>
        ksh {{ item.cash_price|round }} cash or<br>
        ksh {{ item.contract_price|round }} per month for 12 months<br><br><br>
    </div>
    <section>
        <div class="contentbox" id="buyform">
            <div class="formbox">
                <h2>Purchase</h2>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="inputbox">
                        <span>Username</span>
                        {{ form.username(class="form-control") }}
                    </div>
                    <div class="inputbox">
                        <span>Password</span>
                        {{ form.password(class="form-control") }}
                    </div>
                    <div class="inputbox">
                        <span>Credit card no</span>
                        {{ form.creditcard(class="form-control") }}
                    </div>
                    <div class="deliverycompany">
                        <span>Select your preferred delivery method</span><br><br>
                        {{ form.deliverycompany(class="form-control") }}
                        <br>
                    </div>
                    <div class="deliverycompany">
                        <span>Select your preferred payment method</span><br><br>
                        {{ form.paymentmethod(class="form-control") }}
                        <br>
                    </div>
                    <div class="inputbox">{{ form.submit(class="btn btn-lg btn-block btn-primary") }}</div>
                    <div class="inputbox">
                        <p>Don't have an account? <a href="{{ url_for('signuppage') }}">Register first</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}

{% endblock %}