{%extends 'base.html'%}

{% block head %}

<title>pixelbuds</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}

<h2><br>Proceed to buy pixelbuds?<br><br></h2>
<br>
<div class="row1" style="justify-content: center;">
    <div class="item1"style="margin-right: 110px;">
        <h3>Only color available is white</h3><br><br>
        <img src="static/images/{{ 'pixelbuds2.png'}}" height="275.697px" width="206.1997px">
        <div class="row1description">
            <form method="POST" class="configcolor">
                <div class="submitbutton"><br><br>
                    <input type="submit"></input>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}