{%extends 'base.html'%}

{% block head %}

<title>pixel 5</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}

<h2><br>Configure your Pixel 5<br><br></h2>
<div class = "configandcheckout">
    <div class="configs">
        <form method="POST" class="configcolor">
            <h2>Pick a color:</h2><br>
            <input type="radio" id="configbuttons" name="pixel5color" value="sorta sage">
            <label for="sorta sage">Sorta sage</label><br><br>
            <input type="radio" id="configbuttons" name="pixel5color" value="just black">
            <label for="just black">Just black</label><br><br>
            <br>
            <br>
            <h2>Choose your storage:</h2><br>
            <input type="radio" id="configbuttons" name="pixel5storage" value="128gb">
            <label for="128gb">128GB</label><br><br>
            <input type="radio" id="configbuttons" name="pixel5storage" value="256gb">
            <label for="256gb">256GB</label><br><br>
            <input type="radio" id="configbuttons" name="pixel5storage" value="512gb">
            <label for="512gb">512GB<br><br></label>
            <div class="submitencompass">
                <div class="submitbutton"><br><br>
                    <input type="submit"></input>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="row1" style="justify-content: center;">
    <br>
    <div class="item1">
        <img src="static/images/{{ 'pixel4a.png'}}" height="343.5px" width="280.5px">
        <div class="row1description">
            <br>
            Just black<br><br>
            <br>
            <br>
        </div>
    </div>
    <div class="item1" >
        <img src="static/images/{{ 'pixelback.png'}}" width="163.5px" width="130.5px">
        <div class="row1description">
            <br>
            Sorta sage<br><br>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}