{%extends 'base.html'%}

{% block head %}

<title>pixel 4</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}

<h2><br>Configure your pixel 4<br><br></h2>
<div class = "configandcheckout">
    <div class="configs">
        <form method="POST" class="configcolor">
            <h2>Pick a color:</h2><br>
            <input type="radio" id="configbuttons" name="pixel4color" value="oh so orange">
            <label for="oh so orange">Oh so orange</label><br><br>
            <input type="radio" id="configbuttons" name="pixel4color" value="clearly white">
            <label for="clearly white">Clearly white</label><br><br>
            <input type="radio" id="configbuttons" name="pixel4color" value="just black">
            <label for="just black">Just black</label><br><br>
            <br>
            <br>
            <h2>Choose your storage:</h2><br>
            <input type="radio" id="configbuttons" name="pixel4storage" value="64gb">
            <label for="64gb">64GB</label><br><br>
            <input type="radio" id="configbuttons" name="pixel4storage" value="128gb">
            <label for="128gb">128GB</label><br><br>
            <input type="radio" id="configbuttons" name="pixel4storage" value="256gb">
            <label for="256gb">256GB</label><br><br>
            <input type="radio" id="configbuttons" name="pixel4storage" value="512gb">
            <label for="512gb">512GB<br><br></label>
            <div class="submitencompass">
                <div class="submitbutton"><br><br>
                    <input type="submit"></input>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="row1" style="margin-right: 50px;">
    <br>
    <div class="item1">
        <img src="static/images/{{ 'pixel4black.jpg'}}" width="343.5px" width="180.5px" >
        <div class="row1description">
            <br>
            Just black<br><br>
            <br>
            <br>
        </div>
    </div>
    <div class="item1">
        <a href="#"><img src="static/images/{{ 'pixel4white.jpg'}}" width="343.5px" width="180.5px"></a>
        <div class="row1description">
            <br>
            Clearly white<br><br>
            <br>
            <br>
        </div>
    </div>
    <div class="item1">
        <img src="static/images/{{ 'pixel4.png'}}" style="margin-left: 80px;" height="413.5px" width="340.5px">
        <div class="row1description">
            <br>
            Oh so orange<br><br>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}