{%extends 'base.html'%}

{% block head %}

<title>pixel 4a 5G</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}

<h2><br>Configure your Pixel 4a 5G<br><br></h2>
<div class = "configandcheckout">
    <div class="configs">
        <form method="POST" class="configcolor">
            <h2>Pick a color:</h2><br>
            <input type="radio" id="configbuttons" name="pixel4acolor" value="clearly white">
            <label for="clearly white">Clearly white</label><br><br>
            <input type="radio" id="configbuttons" name="pixel4acolor" value="just black">
            <label for="just black">Just black</label><br><br>
            <br>
            <br>
            <h2>Choose your storage:</h2><br>
            <input type="radio" id="configbuttons" name="pixel4astorage" value="128gb">
            <label for="128gb">128GB</label><br><br>
            <input type="radio" id="configbuttons" name="pixel4astorage" value="256gb">
            <label for="256gb">256GB</label><br><br>
            <input type="radio" id="configbuttons" name="pixel4astorage" value="512gb">
            <label for="512gb">512GB<br><br></label>
            <div class="submitencompass">
                <div class="submitbutton"><br><br>
                    <input type="submit"></input>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="row1" style="justify-content: center;" >
    <br>
    <div class="item1">
        <img src="static/images/{{ 'pixel4a.png'}}" height="343.5px" width="280.5px">
        <div class="row1description">
            <br>
            Just black<br><br>
            <br>
            <br>
        </div>
    </div>
    <div class="item1" style="margin-right: 200px;">
        <img src="static/images/{{ 'clearlywhite.png'}}" width="233.5px" height="340.5px">
        <div class="row1description">
            <br>
            Clearly white<br><br>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}