{%extends 'base.html'%}

{% block head %}

<title>S20 ultra</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}

<h2><br>Configure your S20 ultra<br><br></h2>
<div class = "configandcheckout">
    <div class="configs">
        <form method="POST" class="configcolor">
            <h2>Pick a color:</h2><br>
            <input type="radio" id="configbuttons" name="s20ultracolor" value="cosmic white">
            <label for="cosmic white">Cosmic white</label><br><br>
            <input type="radio" id="configbuttons" name="s20ultracolor" value="cosmic black">
            <label for="cosmic black">Cosmic black</label><br><br>
            <br>
            <br>
            <h2>Choose your storage:</h2><br>
            <input type="radio" id="configbuttons" name="s20ultrastorage" value="128gb">
            <label for="128gb">128GB</label><br><br>
            <input type="radio" id="configbuttons" name="s20ultrastorage" value="256gb">
            <label for="256gb">256GB</label><br><br>
            <input type="radio" id="configbuttons" name="s20ultrastorage" value="512gb">
            <label for="512gb">512GB<br><br></label>
            <div class="submitencompass">
                <div class="submitbutton"><br><br>
                    <input type="submit"></input>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="rows21ultra" style="margin-left: 250px;">
    <br>
    <div class="item1">
        <img src="static/images/{{ 's20ultragray.jpeg'}}" height="373.5px" width="323.06px">
        <div class="row1description">
            <br>
            Cosmic gray<br><br>
            <br>
            <br>
        </div>
    </div>
    <div class="item1">
        <img src="static/images/{{ 's20ultrawhite.jpeg'}}" height="373.5px" width="363.06px">
        <div class="row1description">
            <br>
            Cosmic white<br><br>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}