{%extends 'base.html'%}

{% block head %}

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<!-- <div class="boxcontainer">
    <table class="elementscontainer">
        <tr>
            <td>
                <input type="text" placeholder="Search" 
                class="search">
            </td>
            <td>
                <a href="#"><img src="static/images/{{ 'outline_search_black_24dp.png'}}" alt="cart" class="searchbtn"></a>
            </td>
        </tr>
    </table>
</div> -->
{% endblock %}