{%extends 'base.html'%}

{% block head %}

<title>Beats solo pro</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}

<h2><br>Configure your Beats solo Pro<br><br></h2>
<div class = "configandcheckout">
    <div class="configs">
        <form method="POST" class="configcolor">
            <h2>Pick a color:</h2><br>
            <input type="radio" id="configbuttons" name="soloprocolor" value="black">
            <label for="black">Black</label><br><br>
            <input type="radio" id="configbuttons" name="soloprocolor" value="gray">
            <label for="gray">Gray</label><br><br>
            <input type="radio" id="configbuttons" name="soloprocolor" value="ivory">
            <label for="ivory">Ivory</label><br><br>
                <div class="submitbutton"><br><br>
                    <input type="submit"></input>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="row1">
    <br>
    <div class="item1">
        <img src="static/images/{{ 'ivory.jpeg'}}" width="206.1997px" height="auto">
        <div class="row1description">
            <br>
            Ivory<br><br>
            <br>
            <br>
        </div>
    </div>
    <div class="item1">
        <img src="static/images/{{ 'soloprogray.jpeg'}}" width="206.1997px" height="auto">
        <div class="row1description">
            <br>
            Gray<br><br>
            <br>
            <br>
        </div>
    </div>
    <div class="item1">
        <img src="static/images/{{ 'soloproblack.jpeg'}}" width="206.1997px" height="auto" style="margin-left: 120px;">
        <div class="row1description" style="margin-left: 40px;">
            <br>
            Black<br><br>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}